# Build the Database

In [1]:
# Import dependencies
import sqlalchemy
from sqlalchemy import create_engine, inspect

import os
import pandas as pd

In [2]:
# Create the engine
engine = create_engine("sqlite:///voice.sqlite")

In [3]:
# Define the file path
file_path = "resources/clean_data/"

# Get all files in the directory
files = os.listdir(file_path)

In [4]:
# Create a dictionary to hold each df
dataframes = dict()

# Loop through all files
for file in files:
    
    # Return CSV files only
    if file.endswith(".csv"):
        
        # Get the file name
        filename = file.split(".")[0]
        
        # Dataframe name
        df_name = f'{filename}_df'
        
        # Create dataframe and add to dictionary
        dataframes[df_name] = pd.read_csv(file_path + file)

# Display the first dataframe
dataframes['habits_df'].head()

,id,alcohol_consumption,alcohol_pd,smoker,cigarettes_pd,carbonated_beverages,carbonated_pd,chocolate,chocolate_grams_pd,coffee,coffee_pd,citrus_fruits,citrus_fruits_pd,soft_cheese,soft_cheese_pd,tomatoes,water_litres_pd
0,voice100,casual,0.36,no,0,almost always,3.00,sometimes,30,always,3,never,0.0,almost always,100,never,1.5
1,voice101,nondrinker,0.00,no,0,almost always,3.00,sometimes,30,always,4,never,0.0,sometimes,100,sometimes,1.5
2,voice192,nondrinker,0.00,no,0,never,0.00,always,14,always,3,almost always,1.0,sometimes,100,sometimes,2.5
3,voice193,casual,0.36,yes,15,sometimes,0.61,sometimes,30,always,2,sometimes,1.0,sometimes,100,sometimes,1.0
4,voice008,casual,0.36,no,0,almost never,0.09,almost always,20,always,2,almost always,1.0,sometimes,100,almost always,1.0

In [5]:
# Write the dataframes to the database
for key, value in dataframes.items():
    
    # Define the table name
    table_name = key.split("_")[0]
    
    # Use to_sql()
    value.to_sql(
        table_name,
        con = engine,
        if_exists = "replace",
        index = False
    )

In [6]:
# View all of the classes
inspector = inspect(engine)
inspector.get_table_names()

['demographic', 'diagnosis', 'habits']