In [1]:
# Import dependencies

In [15]:
import matplotlib.pyplot as plt
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, inspect

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential

In [16]:
# Import the data
engine = create_engine("sqlite:///voice.sqlite")

# View all of the classes
inspector = inspect(engine)
table_names = inspector.get_table_names()
table_names

['demographic', 'diagnosis', 'habits', 'spectrogram']

In [17]:
# Initialise a dictionary to hold dataframes
dataframes = dict()

# Loop through each table
for table in table_names:
    
    # Dataframe name
    df_name = f'{table}_df'
    
    # Create dataframe
    dataframes[df_name] = pd.read_sql(
        f'SELECT * FROM {table}',
        engine
    )

In [19]:
spec_df = dataframes['spectrogram_df']
spec_df

,id,format,mode,width_px,height_px,r,g,b,a
0,voice156,PNG,RGBA,610,450,[ 45. 45. 45. ... 254. 254. 254.],[ 17. 17. 17. ... 207. 207. 207.],[ 97. 97. 97. ... 146. 146. 146.],[255. 255. 255. ... 255. 255. 255.]
1,voice142,PNG,RGBA,610,450,[ 47. 47. 47. ... 254. 254. 254.],[ 17. 17. 17. ... 207. 207. 207.],[ 99. 99. 99. ... 146. 146. 146.],[255. 255. 255. ... 255. 255. 255.]
2,voice195,PNG,RGBA,610,450,[ 47. 47. 47. ... 254. 254. 254.],[ 17. 17. 17. ... 207. 207. 207.],[ 99. 99. 99. ... 146. 146. 146.],[255. 255. 255. ... 255. 255. 255.]

In [24]:
img_width = spec_df['width_px'][0]
img_height = spec_df['height_px'][0]

img_shape = (img_width, img_height)

In [30]:
rgba_df = spec_df[['r', 'g', 'b', 'a']].copy()
rgba_df['r'][0]

'[ 45.  45.  45. ... 254. 254. 254.]'

In [36]:
for idx, row in rgba_df.iterrows():
    val_string = row['r'].strip("[]").split(" ")
    print(val_string)
    print(len(val_string))

['', '45.', '', '45.', '', '45.', '...', '254.', '254.', '254.']
10
['', '47.', '', '47.', '', '47.', '...', '254.', '254.', '254.']
10
['', '47.', '', '47.', '', '47.', '...', '254.', '254.', '254.']
10

In [26]:
image_array = spec_df[['r', 'g', 'b', 'a']].values.reshape(*img_shape, 4)
image_array

ValueError: cannot reshape array of size 12 into shape (610,450,4)